* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
    background-color: #006a50;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    padding: 17px 34px;
    border-radius: 8px
}
nav {
    display: flex;
    justify-content: space-between                          ;
    align-items: center;
    padding: 1rem;
}
.intro {
    text-align: center;
    margin: 31px 0 31px 160px        ;
}
.nav-btn {
    font-size: 18px;
    font-weight: 500;           
    color: #006a50;
    background-color: transparent;
    border: 1px solid #006a50;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin: 24px 160px;  
}
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
    background-color: #c6e4d6;
    border-radius:24px;
}
.banner-text{
    margin: 117px 64px 117px 60px;
}
.banner-text h1 {
    font-size:56px;
    font-weight: bold;
    margin: 16px 0 24px 0;
}
.banner-text h5{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner img {
    width: 474px;
    height: 400px;
    margin: 80px 60px;
}